/*==================    LE BACKGROUND ANIME    ==================*/
main {
    position: relative;
    background-color: transparent;
    padding: 2rem 0;
}
header{
    min-height: 0;
}
.gradient_video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.gradient_video video {
    width: 100%;
    rotate: 180deg;
}
h1 {
    font: italic bold var(--fs-grand-titre) var(--ff-titre);
    padding: 0 10rem;
}

.nom_artiste {
    text-align: center;
}

.nom_artiste p {
    font: bold var(--fs-moyen-titre) var(--ff-texte);
    font-size: var(--fs-sous-titre);
}
.artiste_phare {
    color: var(--vert);
}

.billet_jour {
    align-items: center;
    gap: 1rem;
}
.billet_jour article {
    padding: 1rem;
    display: flex;
    gap: 2rem;
     
}

.supergreen {
    gap: 2rem;
}
.supergreen article {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
     
}

.supergreen p {
    text-align: justify;
    padding-left: 0 50rem;
}

.pass_jour {
    align-items: center;
    gap: 4rem;
    position: relative;
}
.pass_jour article {
    padding: 1rem;
    display: flex;
    gap: 2rem;
     
}
.pass_jour h2:last-child {
    margin-top: 5rem;
}
.sold-out {
    padding: 1rem 2rem;
    border: 2px solid black;
    color: var(--vert);
    rotate: 45deg;
    position: absolute;
    top: 102%;
    left: 47%;
    transform: translate(-50%, -50%);
    font: italic bold var(--fs-sous-titre) var(--ff-titre);
}

.reduction {
    align-items: center;
    gap: 2rem;
}
.reduction article {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
     
}

/*==================    ELEMENT REPETITIF AVEC LE MEME STYLE DANS LA PAGE    ==================*/
:is(.nom_artiste, .billet_jour, .supergreen, .pass_jour, .reduction) {
    margin: 1rem 0;
    padding: 2rem;
}
:is(.billet_jour, .supergreen, .pass_jour, .reduction, .card) {
    display: flex;
    flex-direction: column;
}
h2 {
    font-family: var(--ff-titre);
    text-align: center;
}
h4 {
    font: bold var(--fs-sous-titre) var(--ff-titre);
}
.card {
    padding: 1.5rem 1rem;
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
    backdrop-filter: blur(12px);
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.card h4 {
    text-align: center;
}

.card::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
    filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
}

.boutton_epuise{
    background-color: transparent;
    border-color: transparent;
}
.epuise{
    opacity: 0.5;
    cursor: not-allowed;
}