/*==================    VARIABLE D'ENVIRONNEMENT    ==================*/
:root {
    /*====    COULEURS    ====*/
    --blanc: #ffffff;
    --noir: #000000;
    --vert: #08fc66;
    --jaune: #ebf192;
    --orange: #e6a04e;
    --violet: #9a8ec7;

    /*====    POLICES    ====*/
    --ff-titre: RUBIK;
    --ff-sous-titre: LAILA;
    --ff-texte: AMIKO;

    /*====    TAILLES DE POLICES    ====*/
    --fs-grand-titre: 2.5rem;
    --fs-titre: 1.75rem;
    --fs-sous-titre: 1.5rem;
    --fs-normal: 1rem;
    --fs-petit: 0.75rem;
}

/*==================    POLICES    ==================*/
@font-face {
    font-family: RUBIK;
    src: url("FONT/Rubik-Italic-VariableFont_wght.ttf");

    font-family: LAILA;
    src: url("FONT/Laila-Regular.ttf");

    font-family: AMIKO;
    src: url("FONT/Amiko-Regular.ttf");
}
/*==================    REINITIALISATION    ==================*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*==================    BODY & HTML    ==================*/
html {
    color: var(--noir);
}
body {
    min-height: 100dvh;
    width: 100%;
    font-family: var(--ff-texte);
}
/*==================    SCROLLBAR   ==================*/
/* Pas supporté par IOS */
::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--blanc);
}
::-webkit-scrollbar-thumb {
    background-color: var(--vert);
    border-radius: 1rem;
}

/*==================    STYLE DES a & DES li    ==================*/
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
/*==================    STYLE PAR DEFAUT DU MAIN    ==================*/
main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--blanc);
}

/*==================    HEADER    ==================*/
header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}
.video_header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
video {
    width: 100%;
}
/*==================    BARRE DE NAVIGATION    ==================*/
nav {
    display: flex;
    width: 100%;
    padding: 0 0 0.25rem 0;
    position: fixed;
    top: -10vh;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 1000;
    transition:
        translate 500ms ease-out,
        opacity 200ms ease-out;
}
nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}
nav ul li {
    text-align: center;
    width: 250px;
}
nav ul li a {
    color: var(--noir);
    font: italic bold var(--fs-titre) var(--ff-titre);
}
nav figure {
    display: contents;
}
nav figure img {
    height: 100px;
    scale: 0.9;
}
.fa-angles-down {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--vert);
    animation: slide-bottom 1000ms ease-out infinite both;
}
/*==================    BARRE DE NAVIGATION ANIMATION D'APPARUTION    ==================*/
.scrolled {
    opacity: 1;
    translate: 0 10vh;
}
@keyframes slide-bottom {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 100px;
    }
}

/*==================    FOOTER    ==================*/
footer {
    width: 100%;
    padding: 2rem 4rem 1rem;
    background-color: var(--noir);
    color: var(--blanc);
    display: flex;
    flex-wrap: wrap;
}
footer section:not(:last-child) {
    width: 50%;
    padding-bottom: 4rem;
}

/*==================    PARTIE DU LOGO    ==================*/
.footer__gauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__gauche .logo {
    padding-left: 5rem;
}
.logo img {
    height: 200px;
    scale: 2;
}
.footer__gauche .reseaux-sociaux {
    display: flex;
    gap: 1rem;
}
.reseaux-sociaux figure {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-align: center;
}
.reseaux-sociaux figcaption {
    font-size: 0.75rem;
    opacity: 0;
    transition: opacity 200ms ease-out;
}
.reseaux-sociaux figure:hover figcaption {
    opacity: 1;
}

/*==================    PARTIE DE LA NEWSLETTER    ==================*/
.footer__droit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4rem;
    gap: 2rem;
}
.footer__droit a {
    border-bottom: 1.5px solid transparent;
    transition: border 200ms ease-out;
}
.footer__droit a:hover {
    border-color:  var(--vert);
}
.footer__droit article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer__droit article:nth-child(1) h3 {
    font: italic bold var(--fs-sous-titre) var(--ff-titre);
}
.footer__droit article:nth-child(1) input {
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    border: 2px solid var(--blanc);
    background-color: transparent;
    border-radius: 2rem;
    width: 450px;
    color: var(--blanc);
    outline: none;
}
.footer__droit article:nth-child(1) button {
    position: relative;
    top: -42%;
    left: 18.5%;
}
.footer__droit article:nth-child(2) {
    align-items: flex-start;
    padding-left: 8rem;
}

/*==================    PARTIE DES CREDITS    ==================*/
.credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 0 0.5rem;
    width: 100%;
    border-top: 1px solid var(--blanc);
    text-align: center;
    color: var(--blanc);
}
.credit article:first-child {
    display: flex;
    gap: 1.5rem;
}
.credit article:nth-child(2) p:not(:first-child) {
    color: rgba(255, 255, 255, 0.4);
}
.credit article:last-child {
    display: flex;
    gap: 2rem;
    color: rgba(255, 255, 255, 0.4);
}

/*==================    COMPOSANTS BOUTONS    ==================*/
button {
    padding: 0.5rem 1.5rem;
    font: normal bold 1.25rem var(--ff-titre);
    outline: 3px solid transparent;
    border-radius: 2rem;
    border: none;
    width: fit-content;
    transition:
        background-color 200ms ease-out,
        color 200ms ease-out,
        outline-color 200ms ease-out;
}
.button__vert {
    background-color: var(--vert);
    color: var(--noir);
    outline-color: var(--vert);
}
.button__noir {
    background-color: var(--noir);
    color: var(--blanc);
    outline-color: var(--noir);
}
.button__blanc-contour-noir {
    background-color: var(--blanc);
    color: var(--noir);
    outline-color: var(--noir);
}
.button__blanc-contour-vert {
    background-color: var(--blanc);
    color: var(--noir);
    outline-color: var(--vert);
}
.button__noir-contour-vert {
    background-color: var(--noir);
    color: var(--blanc);
    outline-color: var(--vert);
}
